<div class="content-wrapper">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center"
                >Show
                <select class="form-control mx-25" [(ngModel)]="selectedOption" (change)="loadData()" >
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="40">40</option>
                  <option value="60">60</option>
                </select>
                entries</label
              >
            </div>
          </div>
          <div
            class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end"
          >
            <div
              class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0"
            >
              <label class="d-flex align-items-center ml-1 ml-md-0"
                >Search:<input
                  [(ngModel)]="searchValue"
                  name="searchValue"
                  type="text"
                  class="form-control ml-25"
                  (ngModelChange)="searchAction($event)"
              /></label>
              <a class="btn btn-primary ml-1" rippleEffect (click)="modalAddOpen(modalPrimary)">
                <i
                  data-feather="plus"
                  class="d-sm-none d-inline-block mr-0 mr-sm-1"
                ></i
                ><span class="d-none d-sm-inline-block">Add New Product</span>
              </a>
            </div>
          </div>
        </div>
        <!-- Table Hover Animation -->
        <div class="row" id="table-hover-animation">
          <div class="col-12">
            <div class="card">
              <div class="table-responsive">
                <table class="table table-hover-animation" *blockUI="'card-section'">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Note</th>
                      <th>Status</th>
                      <th>Create</th>
                      <th>Update</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
  
                  <tbody *ngIf="lstProducts.length == 0">
                    <tr>
                      <td valign="top" colspan="8" class="text-center">
                        <span [data-feather]="'shopping-bag'"></span>
                        No data...
                      </td>
                    </tr>
                  </tbody>
  
                  <tbody *ngIf="lstProducts.length > 0" >
                    <tr *ngFor="let product of lstProducts">
                      <td>{{ product.ID }}</td>
                      <td>{{ product.name }}</td>
                      <td>{{ product.note }}</td>
                      <td>
                        <span class="badge badge-pill mr-1" [ngClass]="{
                          'badge-light-primary': product.status === 'deleted',
                          'badge-light-danger': product.status === 'deactivate',
                          'badge-light-success': product.status === 'active'
                        }">{{product.status}}</span>
  
                      </td>
                      <td>{{ product.create_at }}</td>
                      <td>{{ product.update_at }}</td>
                      <td class="overflow-hidden">
                        <div ngbDropdown container="body">
                          <button
                            type="button"
                            class="btn btn-sm hide-arrow"
                            ngbDropdownToggle
                            data-toggle="dropdown"
                          >
                            <i data-feather="more-vertical"></i>
                          </button>
                          <div ngbDropdownMenu>
                            <a
                              ngbDropdownItem
                              (click)="modalUpdateOpen(modalPrimary,product)"
                              ><i data-feather="edit-2" class="mr-50"></i
                              ><span>Edit</span></a
                            ><a ngbDropdownItem (click)="deleteProduct(product.ID)"
                              ><i data-feather="trash" class="mr-50"></i
                              ><span>Delete</span></a
                            >
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
  
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--/ Table Hover Animation -->
        
        <ngb-pagination
          [collectionSize]="totalPages"
          [(page)]="pageCurrent"
          (pageChange)="clickPagination()"
          aria-label="Default pagination"
          class="d-flex justify-content-center"
        >
          <ng-template ngbPaginationPrevious
            ><span
              [data-feather]="'chevron-left'"
              [size]="18"
              [class]="'font-weight-bolder'"
            ></span>
          </ng-template>
          <ng-template ngbPaginationNext
            ><span
              [data-feather]="'chevron-right'"
              [size]="18"
              [class]="'font-weight-bolder'"
            ></span
          ></ng-template>
        </ngb-pagination>
      </div>
    </div>
  </div>

  <ng-template #modalPrimary let-modal>
    <div class="modal-header">
    
      <div *ngIf="IDProduct.length>0 then thenBlock else elseBlock"></div>
      <ng-template #elseBlock><h5 class="modal-title" id="myModalLabel160">Add Products</h5></ng-template>
      <ng-template #thenBlock><h5 class="modal-title" id="myModalLabel160">Update Products: {{IDProduct}}</h5></ng-template>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
     
  <form class="form form-vertical">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="first-name-vertical">Name</label>
          <input 
            type="text"
            id="first-name-vertical"
            class="form-control"
            name="nameProduct"
            [(ngModel)]="nameProduct"
            placeholder="Name products"
          />
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="basicTextarea">Note</label>
          <fieldset class="form-group">
            <textarea class="form-control" name="noteProduct" [(ngModel)]="noteProduct" id="basicTextarea" rows="3" placeholder="Note for product"></textarea>
          </fieldset>
        </div>
      </div>
    <div class="col-12">
        <div class="form-group">
          <label for="basicTextarea">Status</label>
          <select [(disabled)]="selectedStatusDisable" class="form-control mx-25" name="selectedStatusOption" [(ngModel)]="selectedStatusOption">
            <option value="active">Active</option>
            <option value="deactivate">Deactivate</option>
            <option value="deleted">Deleted</option>
          </select>
        </div>
      </div>

    </div>
  </form>
    
    </div>
    <div class="modal-footer">
      <button [(hidden)]="hideAdd" type="button" class="btn btn-primary" (click)="create()" rippleEffect>
        Create
      </button>
      <button [(hidden)]="hideUpdate" type="button" class="btn btn-primary" (click)="update()" rippleEffect>
        Update
      </button>
    </div>
  </ng-template>